@import '@/lib/reset.scss';
* { touch-action: pan-y }


// user页
.box {
  .content {
    .top {
      .am-navbar.am-navbar-light {
        @include rect(100%, .5rem);
        @include background-color(#fff);
        .am-navbar-title {
          font: .14rem/.5rem "";
        }
        .am-navbar-right {
          font: .1rem/.5rem "";
        }
      }
    }
    .mine {
      @include rect(100%,1.78rem);
      border-radius:0 0 70% 70%;
      position: relative;
      color: #fff;
      .box {
        text-align: center;
        .pic {
          @include rect(.9rem, .9rem);
          @include background-color(rgb(226, 221, 221));
          @include border-radius(50%);
          overflow: hidden;
          margin: .06rem auto;
          img {
            @include rect(.9rem, .9rem);
          }
        }
        p {
          font: .14rem/.2rem "";
        }
        span {
          font: .1rem/.2rem "";
        }
      }
    }
    .list {
      @include padding(.1rem .1rem);
      @include background-color(rgb(245, 243, 243));
      ul {
        @include rect(100%, .9rem);
        @include background-color(#fff);
        @include flexbox();
        @include justify-content(space-between);
        @include padding(0 .3rem);
        @include align-items();
        li {
          @include rect(.94rem, .66rem);
          @include flexbox();
          @include flex-direction(column);
          @include justify-content();
          @include align-items();
          p {
            font: .12rem/.44rem "";
            color: #333;
          }
          span {
            font: .14rem/.28rem "";
            color: #333;
          }
        }
      }
      .kind {
        margin-top:.2rem;
        div {
          padding: .1rem;
          margin-top:.06rem;
          @include background-color(#fff);
          a {
            display: block;
            color: #333;
            font: .14rem/.42rem "";
            img{
              @include rect(.2rem,.2rem);
              margin-right:.1rem;
            }
          }
        }
      }
    }
  }
}


// 会员中心
.member {
  @include rect(100%,auto);
  overflow: auto;
  .top {
    .am-navbar.am-navbar-dark {
      @include rect(100%, .42rem);
      @include background-color(#fff);
      .am-navbar-title {
        font:.18rem/42rem "";
        color: #333;
      }
      .am-icon.am-icon-left.am-icon-md {
        color: #333 ;
      }
    }
  }
  .slider.am-carousel {
    @include rect(100%,1.5rem);
    .slider-slide {
      img {
        @include rect(100%,1.5rem);
      }
    }
  }
  .am-carousel-wrap {
    margin-top:-.4rem;
  }
  .show {
    @include margin(0 .12rem);
    margin-top:-.14rem;
    @include background-color(#fff);
    position: relative;
    z-index:1000;
    @include border-radius(.12rem .12rem 0 0);
    .top {
      ul {
        @include rect(100%,1rem);
        @include flexbox();
        @include flex-direction();
        @include justify-content(space-around);
        @include align-items();
        li {
          @include flexbox();
          @include flex-direction(column);
          @include align-items();
          .img {
            border-radius: .08rem;
            @include rect(.5rem,.5rem);
            @include background-color(#FC8468);
            img {
               @include rect(.32rem,.32rem);
               margin:.09rem;
            }
          }
          span {
            font:.12rem/.12rem "";
            color: #333;
            margin-top: .08rem;
          }
        }
      }
    }
    .list {
      overflow: auto;
      h3 {
        @include text-align(center);
        font: .18rem/.3rem "";
        color: #666;
      }
      ul {
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between); 
        li {
          @include rect(1.5rem, auto);
          @include flexbox();
          @include flex-direction(column);
          margin-top:.1rem;
          .img {
            @include border-radius(.12rem);
            overflow: hidden;
            @include rect(1.5rem, 1.5rem);
            @include background-color(#444);
            img {
              @include rect(1.5rem, 1.5rem);
            }
          }
          .box {
            padding-left: .16rem;
            h4 {
              font:.12rem/.22rem "";
              color: #333;
            }
            p {
              font:.1rem/.22rem "";
              color: #666;
            }
            b {
              font: .1rem/.20rem "";
              color: #999
            }
          }
        }
      }
    }
  }
}


// 我的收藏
.collection {
  overflow: auto;
  .top {
    .am-navbar.am-navbar-dark {
      @include rect(100%, .44rem);
      @include background-color(#fff);
      .am-navbar-title {
        font:.18rem/42rem "";
        color: #333 ;
      }
      .am-icon.am-icon-left.am-icon-md {
        color: #333 ;
      }
    }
  }
  .am-carousel-wrap {
    margin-top:-.4rem;
  }
  .show {
    @include background-color(rgb(238, 238, 238));
    .list {
      @include padding(.1rem .16rem);
      ul {
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        li {
          overflow: hidden;
          @include rect(1.6rem, 1.6rem);
          @include border-radius(.08rem .08rem 0 0);
          @include background-color(#fff);
          @include margin(.2rem 0);
          .img {
            border-bottom: .01rem solid #BBBBBB;
            img {
              @include rect(1.6rem,1.2rem);
            }
          }
          .box {
            @include padding(0 .1rem);
            h3 {
              font:.10rem/.2rem "";
              color: #333;
            }
            p {
              font:.1rem/.14rem "";
              color: #999;
              img, span {
                float: right;
                font:.1rem/.1rem "";
                margin-left: .06rem;
              }
            }
          }
        }
      }
    }
  }
}

// 相册
.photo {
  overflow: auto;
  .top {
    .am-navbar.am-navbar-dark {
      @include rect(100%, .42rem);
      @include background-color(#fff);
      .am-navbar-title {
        font:.18rem/42rem "";
        color: #333 ;
      }
      .am-icon.am-icon-left.am-icon-md {
        color: #333 ;
      }
    }
  }
  .am-carousel-wrap {
    margin-top:-.4rem;
  }
  .show {
    @include background-color(#fff);
    .list {
      @include padding(.1rem .2rem);
      ul {
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        li {
          overflow: hidden;
          @include rect(1.66rem, 2rem);
          @include border-radius(.08rem);
          @include background-color(#F7F7F7);
          @include margin(.08rem 0);
          .box {
            @include padding(0 .1rem);
            h3 {
              font:.14rem/.2rem "";
              color: #666;
            }
            p {
              font:.14rem/.2rem "";
              color: #101010;
              position: relative;
              top:1.5rem;
              span {
                font:.18rem/.18rem "";
                color: #101010;
                float: right;
              }
            }
          }
        }
      }
    }
  }
}

// 购物车
.cart {
  overflow: auto;
  .top {
    .am-navbar.am-navbar-dark {
      @include rect(100%, .44rem);
      @include background-color(rgb(241, 241, 241));
      .am-navbar-title {
        font:.18rem/42rem "";
        color: #333 ;
      }
      .am-icon.am-icon-left.am-icon-md {
        color: #333 ;
      }
    }
  }
  .am-carousel-wrap {
    margin-top:-.4rem;
  }
  .content {
    .top {
      border-bottom:.01rem solid rgb(226, 226, 226);
      @include background-color(#fff);
      h3 {
        @include rect(100%,.42rem);
        font:.14rem/.42rem "";
        color: #999;
        padding:0 .1rem;
        border-bottom:.01rem solid rgb(226, 226, 226);
        i {
          margin-right: .1rem;
          font-size: .18rem;
          @include text-color(#ccc);
          &.visited {
            @include text-color(red);
          }
        }
        span {
          float: right;
        }
        b {
          float: right;
          margin-left: .1rem;
        }
      }
      .cont {
        @include rect(100%,1.42rem);
        @include padding(.2rem 0);
        border-bottom:.01rem solid rgb(226, 226, 226);
        i {
          float: left;
          font-size: .18rem;
          @include margin(.4rem .1rem);
          @include text-color(#ccc);
        }
        .img {
          float: left;
            @include rect(1rem,1rem);
            @include background-color(#EEEEEE);
            border-radius: .08rem;
            overflow: hidden;
            img {
              @include rect(100%,100%);
            }
        }
        dl {
          float: left;
          margin-left: .1rem;
          dt {
            font: .14rem/.3rem "";
            color: #888888;
          }
          dd {
            font: .12rem/.23rem "";
            color: #D2D2D2;
            span {
              float: right;
            }
          }
        }
        // li {
        //   @include rect(100%,1.42rem);
        //   @include padding(.2rem 0);
        //   input {
        //     float: left;
        //     @include rect(.2rem,.2rem);
        //     border-radius: 50%;
        //     @include margin(.4rem .1rem)
        //   }
        //   .img {
        //     float: left;
        //     @include rect(1rem,1rem);
        //     @include background-color(#EEEEEE);
        //     border-radius: .08rem;
        //     overflow: hidden;
        //     img {
        //       @include rect(100%,100%);
        //     }
        //   }
        //   dl {
        //     float: left;
        //     margin-left: .1rem;
        //     dt {
        //       font: .14rem/.3rem "";
        //       color: #888888;
        //     }
        //     dd {
        //       font: .12rem/.23rem "";
        //       color: #D2D2D2;
        //       span {
        //         float: right;
        //       }
        //     }
        //   }
        // }
        
      }
    }
    .center {
      @include rect(100%, auto);
      h3 {
        font:.12rem/.2rem "";
        color: #666;
        text-align: center;
      }
      ul {
        @include flexbox();
        @include justify-content(space-around);
        @include flex-wrap(wrap);
        li {
          @include rect(1.16rem,1.4rem);
          text-align: center;
          .img {
            @include rect(.86rem, .86rem);
            @include border-radius(.08rem);
            overflow: hidden;
            @include margin(0 auto);
            img {
              @include rect(.86rem, .86rem);
            }
          }
          p {
            font:.12rem/.16rem "";
            color: #666;
          }
          span {
            font:.1rem/.14rem "";
            color: #999;
          }
        }
      }
    }
    .footer {
      position: fixed;
      bottom: 0;
      .box {
        @include rect(100%,.5rem);
        @include background-color(#eee);
        input {
          @include rect(.2rem, .2rem);
          float: left;
        }
      }
    }
  }
}


// 我的订单
.order {
  overflow: auto;
  .top {
    .am-navbar.am-navbar-dark {
      @include rect(100%, .42rem);
      @include background-color(#F9F9F9);
      .am-navbar-title {
        font:.18rem/42rem "";
        color: #333 ;
      }
      .am-icon.am-icon-left.am-icon-md {
        color: #333 ;
      }
    }
  }
  .content {
    ul {
      @include rect(100%,atuo);
      li,a {
        display: block;
        padding: .15rem 0 .15rem .2rem;
        border-bottom: .01rem solid #ccc;    
        img {
          @include rect(.36rem,.36rem);
          border-radius: .06rem;
        }
        span {
          font:.14rem/.2rem "";
          color: #101010;
          margin-left: .1rem;
        }

      }  
    }
  }
}


// 待收货
.deceiving {
  overflow: auto;
  .top {
    @include rect(100%,2.3rem);
    span {
      display: block;
      @include rect(.3rem,.3rem);
      @include background-color(#C6C5C5);
      @include border-radius(50%);
      text-align: center;
      font-size: .2rem;
      font-family: "宋体";
      color: #101010;
      margin-left: .1rem;
    }
  }
  .center {
    @include rect(90%,1.74rem);
    @include background-color(#fff);
    @include margin(-.87rem 0 0 5%);
    position: absolute;
    .time {
      @include rect(1rem,1rem);
      border-radius:50%;
      border:1px solid #FF9800;
      @include background-color(#fff);
      margin:-.5rem auto;
      text-align: center;
      p {
        font: .12rem/.18rem "";
      }
    }
  }
}