@import '@/lib/reset.scss';
* { touch-action: pan-y }
html, body, #root, .container {
  @include rect(100%, 100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
    .content {
      overflow: auto;
      @include flex();
      @include rect(100%, auto);
      .slider-decorator-0{
        display: none;
      }
    }
  }
  .footer {
    @include rect(100%, 0.5rem);
    @include background-color(rgb(243, 243, 243));
    border-top:1px solid rgb(221, 221, 221);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      i {
        @include rect(.26rem,.26rem);
      }
      a {
        @include flex();
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        @include text-color(#333);
        font: .1rem/.1rem "";
        &.active {
          @include text-color(#FF9500);
        }
      }
      p {
        margin-top:.1rem;
      }
      .silkbag {
        
        background: url('./images/锦囊-1.png') no-repeat center;
        &.active {
          background: url('./images/锦囊.png') no-repeat center;
        }
      }
      .life {
        background: url('./images/生活-1.png') no-repeat center;
        &.active {
          background: url('./images/生活.png') no-repeat center;
        }
      }
      .time {
        background: url('./images/时光机-1.png') no-repeat center;
        &.active {
          background: url('./images/时光机.png') no-repeat center;
        }
      }
      .msg {
        background: url('./images/消息-1.png') no-repeat center;
        &.active {
          background: url('./images/消息.png') no-repeat center;
        }
      }
      .user {
        background: url('./images/我的-1.png') no-repeat center;
        &.active {
          background: url('./images/我的.png') no-repeat center;
        }
      }
    }
  }
}